.effect-blueCristall {
  background-size: 200% 200%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(214, 49%, 60%, 0.5) calc(var(--space)* 1),
      hsla(212, 100%, 93%, 0.801) calc(var(--space)* 2),
      hsla(187, 100%, 50%, 0.5) calc(var(--space)* 3),
      hsla(212, 100%, 97%, 0.5) calc(var(--space)* 4),
      hsla(202, 100%, 68%, 0.5) calc(var(--space)* 5),
      hsla(212, 100%, 93%, 0.5) calc(var(--space)* 6),
      hsla(214, 100%, 70%, 0.5) calc(var(--space)* 7),
      hsla(212, 100%, 82%, 0.5) calc(var(--space)* 8),
      hsla(187, 100%, 50%, 0.5) calc(var(--space)* 9),
      hsla(207, 100%, 79%, 0.5) calc(var(--space)* 10),
      hsla(202, 100%, 68%, 0.5) calc(var(--space)* 11));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.5);
  mix-blend-mode: color-dodge;
}

.effect-shinyHolo {
  background-size: 400% 400%;
  --space: 5%;
  --angle: -22deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(93, 56%, 52%, 0.75) calc(var(--space)* 4),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 5),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 6),
      hsla(283, 49%, 61%, 0.75) calc(var(--space)* 7));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-holo {
  background-size: 600% 600%;
  --space: 5%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 4),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 5));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-goldFoil {
  background-size: 300% 300%;
  --space: 10%;
  --angle: -22deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(45, 85%, 60%, 0.5) calc(var(--space)* 1),
      hsla(30, 100%, 88%, 0.5) calc(var(--space)* 2),
      hsla(20, 100%, 72%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(40, 90%, 65%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-redFoil {
  background-size: 300% 300%;
  --space: 10%;
  --angle: -27deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 85%, 60%, 0.5) calc(var(--space)* 1),
      hsla(342, 100%, 90%, 0.5) calc(var(--space)* 2),
      hsla(20, 100%, 60%, 0.5) calc(var(--space)* 3),
      hsla(0, 100%, 94%, 0.5) calc(var(--space)* 5),
      hsla(0, 85%, 60%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-purpleFoil {
  background-size: 300% 300%;
  --space: 10%;
  --angle: -36deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(288, 85%, 60%, 0.5) calc(var(--space)* 1),
      hsla(295, 100%, 88%, 0.5) calc(var(--space)* 2),
      hsla(288, 100%, 72%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(276, 90%, 65%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-greenFoil {
  background-size: 300% 300%;
  --space: 10%;
  --angle: -56deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(101, 100%, 30%, 0.5) calc(var(--space)* 1),
      hsla(83, 100%, 56%, 0.5) calc(var(--space)* 2),
      hsla(135, 100%, 94%, 0.5) calc(var(--space)* 3),
      hsla(91, 100%, 66%, 0.5) calc(var(--space)* 5),
      hsla(101, 100%, 30%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-orangeFoil {
  background-size: 200% 200%;
  --space: 15%;
  --angle: -36deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(12, 100%, 66%, 0.5) calc(var(--space)* 1),
      hsla(47, 100%, 93%, 0.5) calc(var(--space)* 2),
      hsla(32, 100%, 55%, 0.5) calc(var(--space)* 3),
      hsla(59, 100%, 74%, 0.5) calc(var(--space)* 5),
      hsla(12, 100%, 66%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-goldMetal {
  background-size: 500% 500%;
  --space: 10%;
  --angle: -36deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(40, 65%, 50%, 0.5) calc(var(--space) * 1),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 2),
      hsla(50, 85%, 70%, 0.5) calc(var(--space) * 3),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 4),
      hsla(45, 75%, 60%, 0.5) calc(var(--space) * 5),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 6),
      hsla(40, 65%, 50%, 0.5) calc(var(--space) * 7));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-mask {
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.effect-rainbow {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 4),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 5),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-blue {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(209, 98%, 65%, 0.75) calc(var(--space)* 1),
      hsla(246, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(187, 100%, 50%, 0.5) calc(var(--space)* 3),
      hsla(216, 88%, 60%, 0.75) calc(var(--space)* 4),
      hsla(189, 100%, 76%, 0.5) calc(var(--space)* 5),
      hsla(236, 49%, 60%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-black {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 0%, 16%, 0.75) calc(var(--space)* 1),
      hsla(0, 0%, 89%, 0.75) calc(var(--space)* 2),
      hsla(0, 0%, 1%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 55%, 0.75) calc(var(--space)* 4),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(0, 0%, 16%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-refractor {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 0%, 16%, 0.5) calc(var(--space)* 1),
      hsla(0, 0%, 89%, 0.5) calc(var(--space)* 2),
      hsla(0, 0%, 29%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 55%, 0.5) calc(var(--space)* 4),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(0, 0%, 16%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-pinkRefractor {
  background-size: 400% 200%;
  --space: 3%;
  --angle: -130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(340, 100%, 85%, 0.75) calc(var(--space) * 1),
      hsla(355, 100%, 70%, 0.75) calc(var(--space) * 2),
      hsla(325, 100%, 60%, 0.75) calc(var(--space) * 3),
      hsla(330, 100%, 65%, 0.75) calc(var(--space) * 4),
      hsla(330, 100%, 95%, 0.75) calc(var(--space) * 5),
      hsla(305, 100%, 55%, 0.75) calc(var(--space) * 6),
      hsla(340, 100%, 85%, 0.75) calc(var(--space) * 7),
      hsla(340, 100%, 85%, 0.75) calc(var(--space) * 8));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-roseGoldMojo {
  background-size: 400% 200%;
  --space: 3%;
  --angle: -130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(30, 40%, 75%, 0.75) calc(var(--space) * 1),
      hsla(19, 50%, 70%, 0.75) calc(var(--space) * 2),
      hsla(15, 45%, 60%, 0.75) calc(var(--space) * 3),
      hsla(15, 55%, 65%, 0.75) calc(var(--space) * 4),
      hsla(20, 30%, 85%, 0.75) calc(var(--space) * 5),
      hsla(10, 40%, 60%, 0.75) calc(var(--space) * 6),
      hsla(30, 40%, 75%, 0.75) calc(var(--space) * 7),
      hsla(30, 40%, 75%, 0.75) calc(var(--space) * 8));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-aquaPrism {
  background-size: 400% 200%;
  --space: 3%;
  --angle: -130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(180, 100%, 85%, 0.5) calc(var(--space) * 1),
      hsla(170, 80%, 75%, 0.5) calc(var(--space) * 2),
      hsla(160, 90%, 65%, 0.5) calc(var(--space) * 3),
      hsla(150, 70%, 60%, 0.5) calc(var(--space) * 4),
      hsla(140, 80%, 70%, 0.5) calc(var(--space) * 5),
      hsla(130, 70%, 50%, 0.5) calc(var(--space) * 6),
      hsla(180, 100%, 85%, 0.5) calc(var(--space) * 7),
      hsla(180, 100%, 85%, 0.5) calc(var(--space) * 8));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-greenRefractor {
  background-size: 400% 200%;
  --space: 3%;
  --angle: -130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(125, 100%, 85%, 0.75) calc(var(--space) * 1),
      hsla(120, 100%, 70%, 0.75) calc(var(--space) * 2),
      hsla(143, 71%, 38%, 0.75) calc(var(--space) * 3),
      hsla(152, 76%, 29%, 0.75) calc(var(--space) * 4),
      hsla(85, 100%, 74%, 0.75) calc(var(--space) * 5),
      hsla(88, 100%, 32%, 0.75) calc(var(--space) * 6),
      hsla(86, 100%, 22%, 0.75) calc(var(--space) * 7),
      hsla(125, 100%, 85%, 0.75) calc(var(--space) * 8));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.effect-redRefractor {
  background-size: 400% 200%;
  --space: 3%;
  --angle: -130deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 100%, 85%, 0.75) calc(var(--space) * 1),
      hsla(19, 100%, 70%, 0.75) calc(var(--space) * 2),
      hsla(0, 71%, 38%, 0.75) calc(var(--space) * 3),
      hsla(342, 76%, 29%, 0.75) calc(var(--space) * 4),
      hsla(17, 100%, 74%, 0.75) calc(var(--space) * 5),
      hsla(24, 100%, 32%, 0.75) calc(var(--space) * 6),
      hsla(0, 100%, 22%, 0.75) calc(var(--space) * 7),
      hsla(0, 100%, 85%, 0.75) calc(var(--space) * 8));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.effect-slimVerticalRefractor {
  background-size: 400% 200%;
  --space: 4%;
  --angle: 90deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 0%, 100%, 0.5) calc(var(--space) * 1),
      hsla(0, 0%, 28%, 0.75) calc(var(--space) * 2),
      hsla(0, 0%, 100%, 0.5) calc(var(--space) * 3));

  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.effect-infernoRefractor {
  background-image: url(../img/fire.png);
  background-size: 300% 150%;
  /* mix-blend-mode: lighten; */
  opacity: 0.75;
  mix-blend-mode: color-dodge;
}