@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-default-cards {
  grid-template-columns: repeat(2, 1fr);
}

.effect-shinyHolo {
  background-size: 400% 400%;
  --space: 5%;
  --angle: -22deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(93, 56%, 52%, 0.75) calc(var(--space)* 4),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 5),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 6),
      hsla(283, 49%, 61%, 0.75) calc(var(--space)* 7));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-holo {
  background-size: 600% 600%;
  --space: 5%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 4),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 5));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-goldFoil {
  background-size: 500% 500%;
  --space: 10%;
  --angle: -22deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(45, 85%, 60%, 0.5) calc(var(--space)* 1),
      hsla(30, 100%, 88%, 0.5) calc(var(--space)* 2),
      hsla(20, 100%, 72%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(40, 90%, 65%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-purpleFoil {
  background-size: 500% 500%;
  --space: 10%;
  --angle: -36deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(288, 85%, 60%, 0.5) calc(var(--space)* 1),
      hsla(295, 100%, 88%, 0.5) calc(var(--space)* 2),
      hsla(288, 100%, 72%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(276, 90%, 65%, 0.5) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-goldMetal {
  background-size: 500% 500%;
  --space: 10%;
  --angle: -36deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(40, 65%, 50%, 0.5) calc(var(--space) * 1),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 2),
      hsla(50, 85%, 70%, 0.5) calc(var(--space) * 3),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 4),
      hsla(45, 75%, 60%, 0.5) calc(var(--space) * 5),
      hsla(0, 0%, 100%, 1) calc(var(--space) * 6),
      hsla(40, 65%, 50%, 0.5) calc(var(--space) * 7));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1.25);
  mix-blend-mode: color-dodge;
}

.effect-goldMetal-finetwork-liga-f-22-23-panini-n322 {
  --mask: url(./data/img/cards/_mask_aitana-bonmati-f-stars-barcelona-322-liga-f-22-23.png);
  -webkit-mask-image: var(--mask);
  mask-image: var(--mask);
  -webkit-mask-size: cover;
  mask-size: cover;
}

.effect-rainbow {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 1),
      hsla(2, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(53, 67%, 53%, 0.75) calc(var(--space)* 3),
      hsla(176, 38%, 50%, 0.75) calc(var(--space)* 4),
      hsla(228, 100%, 77%, 0.75) calc(var(--space)* 5),
      hsla(283, 49%, 60%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-blue {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(209, 98%, 65%, 0.75) calc(var(--space)* 1),
      hsla(246, 74%, 59%, 0.75) calc(var(--space)* 2),
      hsla(187, 100%, 50%, 0.5) calc(var(--space)* 3),
      hsla(216, 88%, 60%, 0.75) calc(var(--space)* 4),
      hsla(189, 100%, 76%, 0.5) calc(var(--space)* 5),
      hsla(236, 49%, 60%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}

.effect-black {
  background-size: 400% 400%;
  --space: 10%;
  --angle: 110deg;
  background-image: repeating-linear-gradient(var(--angle),
      hsla(0, 0%, 16%, 0.75) calc(var(--space)* 1),
      hsla(0, 0%, 89%, 0.75) calc(var(--space)* 2),
      hsla(0, 0%, 1%, 0.5) calc(var(--space)* 3),
      hsla(0, 0%, 55%, 0.75) calc(var(--space)* 4),
      hsla(0, 0%, 100%, 0.5) calc(var(--space)* 5),
      hsla(0, 0%, 16%, 0.75) calc(var(--space)* 6));
  background-blend-mode: color-dodge;
  filter: brightness(calc((0*0.3) + 0.5)) contrast(2.5) saturate(1);
  mix-blend-mode: color-dodge;
}